body {
    background-color: #b7b7a4;
    margin-top: 50px;
    font-family: 'Lato';
}

.item {
    background-color: #ffe8d6;
    padding: 15px;
    margin-bottom: 15px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 0 1em #ccc;
    transition: all .2s ease-in-out;
}

.item:hover {
    box-shadow: 0 0 1em #aaa;
    transform: scale(1.05);
}

.item.completed {
    text-decoration: line-through;
    opacity: 0.7;
}

.toggles {
    color: #555;
    cursor: pointer;
    font-size: 1.2em;
}

.name {
    padding-top: 3px;
    font-size: 1.2em;
    color: #333;
}

.remove {
    padding-left: 0;
    color: #ff6f61;
    cursor: pointer;
    font-size: 1.5em;
}

button:focus {
    border: 1px solid #333;
    outline: none;
}

.banner {
    color: #fff;
    text-align: center;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.banner h1 {
    margin: 0;
    font-size: 50px;
    font-weight: bolder;
    font-family: monospace;
}

button.deleteAll {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
}

p.NoItems {
    color: #ccc;
    text-align: center;
}